<div class="copyright-holder">
  © 2023 <a href="https://robotics.harker.org" target="_blank">Harker Robotics</a>
  <br>
  <br>
  Made with &lt;&gt; by <a href="https://kabirramzan.com" target="_blank">Kabir Ramzan</a> and members of the App Development subteam (Omkar, Aarav, Nelson, Albert, Mikhil, Daniel, Agastya, Grant, Mihir)
</div>