<div class="copyright-holder" style="line-height: normal;">
  © 2025 <a href="https://robotics.harker.org" target="_blank">Harker Robotics</a>
  <br>
  <br>
  Made with &lt;&gt; by the App Development subteam (<u><a href="https://kabirramzan.com/" target="_blank">Kabir</a></u>, <u><a href="https://omkargn.com/" target="_blank">Omkar</a></u>, Daniel, Benjamin, Aarav, Nelson, Albert, Mikhil, Agastya, Grant, Mihir)
</div>
