<div class="copyright-holder" style="line-height: normal;">
  © 2024 <a href="https://robotics.harker.org" target="_blank">Harker Robotics</a>
  <br>
  <br>
  Made with &lt;&gt; by <u><a href="https://kabirramzan.com" target="_blank">Kabir Ramzan</a></u> and members of the App Development subteam (<u><a href="https://omkargn.com/" target="_blank">Omkar</a></u>, Aarav, Nelson, Albert, Mikhil, Daniel, Agastya, Grant, Mihir)
</div>
