<nav>
   <!-- <div class="nav" sytle="background-color: #1B2F5A;">
        <div id="title" class="title">
            <h1 id="appName">The Purple Warehouse</h1>
        </div>
        <div id="profilePic" class="profilePic">
            <svg height="100" width="100">
                <circle cx="50" cy="50" r="30" stroke="black" stroke-width="3" fill="grey"/>
            </svg>
        </div>
    </div>-->
    <ul>
        <li><a class="title">The Purple Warehouse</a></li>
        <li>
            <div class="profilePic" style="float:right"></div>
        </li>
    </ul>
</nav>