<div class="resources">
    <div class="grid-container" id="resources">
        {{#each resources}}
            <div class="grid-item" onclick="updateResourcesGrid('{{this.type}}', '{{this.identifier}}')">
                <p class="grid-text">{{this.name}}</p>
            </div>
        {{/each}}
    </div>
</div>

<script>
    async function getResources(parent) {
        let data = [];
        try {
            request = await (await fetch(`/api/v1/resources/${parent}`)).json();
            if(request.success) {
                data = request.content;
            }
        } catch(err) {
        }
        return data;
    }
    async function updateResourcesGrid(type, id) {
        if(type == "folder") {
            let data = await getResources(id);
            document.getElementById("resources").innerHTML = data.map((element) => {
                return `
                    <div class="grid-item" onclick="updateResourcesGrid('${element.type}', '${element.identifier}')">
                        <p class="grid-text">${element.name}</p>
                    </div>
                `;
            }).join("");
        } else if(type == "file") {

        }
    }
</script>