<div class="resources">
    <div class="grid-container">
        {{#each resources}}
        <div class="grid-item">
            <p class="grid-text">{{this}}</p>
        </div>
        {{/each}}
    </div>
</div>