html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto, Arial;
}

main {
    padding: 1.5em;
    border-radius: 8px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 1.5em;
}

form > * {
    margin: 0.5em 0;
}

form input {
    font-family: inherit;
    font-size: 1em;
}

form button {
    border: 0;
    padding: 0.5em 1em;
    font-family: inherit;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
}

button.dark-gray {
    background-color: #333;
    color: white;
}

.madewith a {
    color: inherit;
}

.madewith a:hover {
    color: #555;
}

#snackbar-container {
    z-index: 5;
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    opacity: 0.85;
    -webkit-transition: bottom 0.2s;
    transition: bottom 0.2s;
}

#snackbar-container.hidden {
    bottom: -100px;
}

#snackbar-container.success {
    background-color: #71b778;
}

#snackbar-container.error {
    background-color: #f44336;
}

#snackbar-container #snackbar {
    text-align: center;
    padding: 12px 18px;
    color: white;
}
