:root {
    --backgroundColor: #f8f0ff;
    --contentColor: #404040;
    --primaryBackgroundColor: #7d4090;
    --primaryContentColor: #e3dce9;
    --primaryDarkerBackgroundColor: #5d2e6c;
    --disabledColor: #747474;
    --outline-img: "";
    --filled-img: "";
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-Regular.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-Medium.ttf) format("ttf");
    font-weight: 500;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-Bold.ttf) format("ttf");
    font-weight: 600;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-Italic.ttf) format("ttf");
    font-weight: 400;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-MediumItalic.ttf) format("ttf");
    font-weight: 500;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-BoldItalic.ttf) format("ttf");
    font-weight: 600;
    font-style: italic;
    font-display: auto;
}

* {
    font-family: "Roboto", sans-serif;
    touch-action: manipulation;
}

html,
body {
    background-color: var(--backgroundColor);
    overflow-x: hidden;
}

.login-window {
    position: absolute;
    width: 350px;
    max-width: calc(100% - 125px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-sizing: content-box;
    border: 3px solid var(--contentColor);
    border-radius: 20px;
    box-shadow: 10px 10px 26px 0 var(--contentColor);
}

.login-window > h1 {
    color: var(--contentColor);
    font-size: 2rem;
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.login-window > input {
    background-color: var(--backgroundColor);
    border: 2px solid var(--contentColor);
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
    color: var(--contentColor);
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.login-window > input:focus {
    outline: 0;
    border: 4px solid var(--contentColor);
    padding: 8px;
}

.login-window > button {
    background-color: var(--primaryBackgroundColor);
    border: 2px solid var(--primaryBackgroundColor);
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
    color: var(--primaryContentColor);
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.login-window > button:focus {
    outline: 0;
}

.login-window > button:active {
    outline: 0;
    background-color: var(--primaryDarkerBackgroundColor);
}

.home-window > h1 {
    color: var(--contentColor);
    text-align: center;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 2rem;
}

.home-window > h3 {
    color: var(--contentColor);
    text-align: center;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 1.15rem;
}

.home-window > h2,
.download-window > h2,
.data-window > h2 {
    color: var(--contentColor);
    text-align: center;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.home-window > .footer-text,
.home-window > .footer-text a {
    color: var(--contentColor);
    text-align: center;
    font-size: 0.9rem;
}

.home-window > .boltman-quote {
    color: var(--contentColor);
    text-align: center;
    font-size: 1rem;
}

.home-window input,
.home-window select,
.download-window input,
.download-window select,
.data-window input,
.data-window select {
    background-color: var(--backgroundColor) !important;
    border: 2px solid var(--contentColor);
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
    color: var(--contentColor);
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.home-window input[readonly],
.download-window input[readonly],
.data-window input[readonly] {
    background-color: var(--disabledColor) !important;
}

.home-window select {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
        no-repeat 100% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.home-window input:focus,
.home-window select:focus,
.download-window input:focus,
.data-window input:focus {
    outline: 0;
    border: 4px solid var(--contentColor);
    padding: 8px;
}

.home-window button,
.scanner-window button,
.download-window button,
.data-window button {
    background-color: var(--primaryBackgroundColor);
    border: 2px solid var(--primaryBackgroundColor);
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
    color: var(--primaryContentColor);
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.home-window button:active,
.scanner-window button:active {
    outline: 0;
    background-color: var(--primaryDarkerBackgroundColor);
}

.scanner-window p {
    text-align: center;
    color: var(--contentColor);
}

.scanner-window .upload > h3 {
    text-align: center;
    color: var(--contentColor);
    width: calc(100% - 20px);
    max-width: 350px;
    overflow-wrap: break-word;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.scanner-window .upload > h3.red {
    color: #ff0000;
}

.scanner-window .upload > h3.primary {
    color: var(--primaryBackgroundColor);
}

.button-row {
    width: max-content;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.button-row > button {
    width: auto;
    font-size: 0.8rem;
    margin: auto;
    transform: none;
}

.match-window .component-layout-rows {
    display: flex;
    flex-direction: column;
}

.match-window .component-layout-columns {
    display: flex;
    flex-direction: row;
}

.match-window .component-title {
    color: var(--contentColor);
    text-align: center;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.match-window .component-header {
    color: var(--contentColor);
    text-align: center;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.match-window .component-text {
    color: var(--contentColor);
    width: calc(100% - 10px);
    max-width: 800px;
    margin: 0;
    margin-bottom: 20px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.match-window .component-checkbox {
    text-align: center;
    margin: 10px;
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 1.3rem;
    min-width: 275px;
    max-width: 400px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.match-window .component-checkbox > label {
    color: var(--contentColor);
    display: block;
    transform: translate(-18px, 0);
    font-size: 1.3rem;
}

.match-window .component-checkbox > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.match-window .component-checkbox > .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid var(--contentColor);
    border-radius: 5px;
}

.match-window .component-checkbox:hover > input ~ .checkmark {
    background-color: #ccc;
}

.match-window .component-checkbox > input:checked ~ .checkmark {
    background-color: var(--primaryBackgroundColor);
}

.match-window .component-checkbox > .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.match-window .component-checkbox > input:checked ~ .checkmark:after {
    display: block;
}

.match-window .component-checkbox > .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.match-window .component-timer > h2 {
    color: var(--contentColor);
    text-align: center;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.match-window .component-timer > h2 > span {
    font-weight: 500;
}

.match-window .component-timer > .button-container {
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 10px;
    width: max-content;
}

.match-window .component-timer > .button-container > button.timer {
    background-color: var(--primaryBackgroundColor);
    border: 2px solid var(--primaryBackgroundColor);
    border-radius: 5px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5rem;
    color: var(--primaryContentColor);
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.match-window .component-timer > .button-container > button.plus,
.match-window .component-timer > .button-container > button.minus {
    background-color: var(--primaryBackgroundColor);
    border: 2px solid var(--primaryBackgroundColor);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5rem;
    color: var(--primaryContentColor);
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: relative;
}

.match-window .component-timer > .button-container > button.plus > span,
.match-window .component-timer > .button-container > button.minus > span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.match-window .component-timer > .button-container > button:active {
    outline: 0;
    background-color: var(--primaryDarkerBackgroundColor);
}

.match-window .component-timer > .button-container > button[disabled] {
    background-color: var(--contentColor);
    border: 2px solid var(--contentColor);
    cursor: not-allowed;
}

.match-window .component-pagebutton {
    background-color: var(--primaryBackgroundColor);
    border: 2px solid var(--primaryBackgroundColor);
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
    color: var(--primaryContentColor);
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin: 10px;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.match-window .component-pagebutton:active {
    outline: 0;
    background-color: var(--primaryDarkerBackgroundColor);
}

.match-window .component-select > h2 {
    color: var(--contentColor);
    text-align: center;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.match-window .component-select > select {
    background-color: var(--backgroundColor) !important;
    border: 2px solid var(--contentColor);
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
    color: var(--contentColor);
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.match-window .component-select > select {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
        no-repeat 100% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.match-window .component-select > select:focus {
    outline: 0;
    border: 4px solid var(--contentColor);
    padding: 8px;
}

.match-window .component-textbox,
.upload-box {
    background-color: var(--backgroundColor) !important;
    border: 2px solid var(--contentColor);
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
    color: var(--contentColor);
    width: 100%;
    max-width: 800px;
    height: calc(100vh - 400px);
    min-height: 300px;
    max-height: 600px;
    box-sizing: border-box;
    margin: 0;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.match-window .component-textbox:focus,
.upload-box:focus {
    outline: 0;
    border: 4px solid var(--contentColor);
    padding: 8px;
}

.match-window .component-locations > .component-locations-container {
    width: calc(100% - 20px);
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.match-window .component-locations > .component-locations-container > .grid {
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 50vw;
    max-width: 600px;
    max-height: 300px;
}

.match-window .component-rating > h2 {
    color: var(--contentColor);
    text-align: center;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.match-window .component-rating .rating-container {
    width: max-content;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.match-window .component-rating .rating-star {
    width: 15vw;
    height: 15vw;
    background-size: 100%;
    display: inline-block;
    margin-right: 10px;
    max-width: 75px;
    max-height: 75px;
    cursor: pointer;
}

.match-window .component-rating .rating-star[data-rating="4"] {
    margin-right: 0;
}

.match-window .component-rating .rating-star[data-value="0"] {
    background-image: var(--outline-img);
}

.match-window .component-rating .rating-star[data-value="1"] {
    background-image: var(--filled-img);
}

.large-grid-y .grid {
    height: calc(75vw) !important;
    max-width: 400px !important;
    max-height: 300px !important;
}

.small-grid-x .grid {
    width: calc(50vw) !important;
    max-width: 450px !important;
    max-height: 450px !important;
}

.large-grid-y.small-grid-x .grid {
    max-width: 300px !important;
    max-height: 450px !important;
}

.small-grid-x {
    /* width: calc(50% - 10px) !important; */
    width: fit-content !important;
}

.match-window
    .component-locations
    > .component-locations-container
    > .grid
    > div {
    border: 1px solid var(--contentColor);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s ease-in-out;
}
.match-window
    .component-locations
    > .component-locations-container
    > .grid
    > div.active {
    background-color: rgba(0, 0, 0, 0.5);
}

.match-window .component-locations > button {
    background-color: var(--primaryBackgroundColor);
    border: 2px solid var(--primaryBackgroundColor);
    border-radius: 5px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.5rem;
    color: var(--primaryContentColor);
    box-sizing: border-box;
    margin: 0;
    margin-left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.match-window .component-locations > button:active {
    outline: 0;
    background-color: var(--primaryDarkerBackgroundColor);
}

.overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.2s ease-in-out;
}

.location-popup {
    display: none;
    position: fixed;
    width: calc(100% - 20px);
    max-width: 350px;
    left: 50%;
    top: 50%;
    z-index: 200;
    background-color: var(--backgroundColor);
    color: var(--contentColor);
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.location-popup > button {
    background-color: var(--primaryBackgroundColor);
    border: 2px solid var(--primaryBackgroundColor);
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
    color: var(--primaryContentColor);
    width: calc(100% - 40px);
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.location-popup > button:active {
    outline: 0;
    background-color: var(--primaryDarkerBackgroundColor);
}

.location-popup > div {
    margin-bottom: 30px;
    width: max-content;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.location-popup > div > h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
}
.location-popup > div > h3 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 500;
}

.location-popup > div > button {
    display: inline-block;
    background-color: var(--primaryBackgroundColor);
    border: 2px solid var(--primaryBackgroundColor);
    border-radius: 5px;
    font-size: 1.5rem;
    color: var(--primaryContentColor);
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    position: relative;
}

.location-popup > div > button.toggle {
    width: calc(100vw - 65px) !important;
    max-width: 310px;
}

.location-popup > div > button > span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.location-popup > div > button:active {
    outline: 0;
    background-color: var(--primaryDarkerBackgroundColor);
}

.component-qrcode > canvas {
    max-width: 100%;
    width: auto;
    max-height: calc(100vh - 250px);
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.component-qrcode > p {
    color: var(--contentColor);
    text-align: center;
}

.component-upload > h3,
.download-window > h3,
.data-window > h3 {
    text-align: center;
    color: var(--contentColor);
    width: calc(100% - 20px);
    max-width: 350px;
    overflow-wrap: break-word;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.component-upload > h3.red,
.download-window > h3.red,
.data-window > h3.red {
    color: #ff0000;
}

.component-upload > h3.primary {
    color: var(--primaryBackgroundColor);
}

.data-window > table {
    color: var(--contentColor);
    overflow-x: auto;
    border-collapse: collapse;
}

.data-window > table td,
.data-window > table th {
    border: 1px solid var(--contentColor);
    padding: 8px;
    color: var(--contentColor);
}

.data-window > table td:hover {
    background-color: var(--backgroundColor);
    filter: brightness(0.8);
}

.data-window > table tbody > tr {
    background-color: var(--backgroundColor);
}

.data-window > table tbody > tr:nth-child(even) {
    background-color: var(--backgroundColor);
    filter: brightness(0.9);
}

.data-window > table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--primaryBackgroundColor);
    color: var(--backgroundColor);
}

@media (max-width: 500px) {
    .data-window > table {
        overflow-x: initial;
    }
    .data-window-visible {
        overflow-x: auto;
    }
}
