:root {
    --backgroundColor: #f8f0ff;
    --contentColor: #404040;
    --primaryBackgroundColor: #7d4090;
    --primaryContentColor: #f4f4f4;
    --primaryDarkerBackgroundColor: #5d2e6c;
    --primaryDarkerBackgroundColor2: #6c377d;
    --disabledColor: #747474;
    --outline-img: "";
    --filled-img: "";
    --standard-border-radius: 7px;
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: white;
    --select-bg: rgba(255, 255, 255, 0.2);
    --cgray: rgba(45, 45, 45, 0.68);
}

* {
    font-family: sans-serif;
    touch-action: manipulation;
}

html,
body {
    overflow-x: hidden;
    background: #fefefe;
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    width: 100dvw;
    height: 100dvh;
}

body:not([data-login="true"]) {
    grid-template-rows: auto 1fr;
}

main {
    width: clamp(300px, 80dvw, 500px);
    height: max-content;
}

.app {
    margin-top: 10px;
}

.hidden {
    display: none;
}

.login-window,
.data-window,
.match-window {
    position: relative;
    width: fit-content;
    height: 100%;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--standard-border-radius);
    width: 100%;
}

.login-window > .title-block,
.home-window > .title-block {
    margin-bottom: 25px;
    align-self: flex-start;
}

.login-window > .title-block > h1,
.home-window > .title-block > h1 {
    color: var(--contentColor);
    font-size: 2rem;
    margin: 0;
    width: 100%;
}

.login-window > .title-block > h3,
.home-window > .title-block > h3 {
    color: var(--contentColor);
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
}

.login-window input,
.home-window input,
.data-window input {
    display: block;
    width: calc(100% - 10px);
    border: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    background: transparent;
    padding: 10px 10px 10px 0px;
    border-radius: 0;
}

.login-window p {
    text-align: center;
    font-size: 0.8rem;
}

.login-window input:focus,
.home-window input:focus,
.data-window input:focus {
    outline: none;
}

.login-window input:focus ~ .bar::before,
.home-window input:focus ~ .bar::before,
.data-window input:focus ~ .bar::before {
    width: 100%;
}

.login-window input:focus ~ label,
.login-window input:valid ~ label,
.login-window input:-webkit-autofill ~ label,
.home-window input:focus ~ label,
.home-window input:valid ~ label,
.home-window input:-webkit-autofill ~ label,
.data-window input:focus ~ label,
.data-window input:valid ~ label,
.data-window input:-webkit-autofill ~ label {
    top: -14px;
    font-size: 12px;
    color: var(--theme-primary);
    left: 0px;
}

.group {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input:-webkit-autofill {
    background-color: transparent !important;
    color: inherit !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: inherit !important;
}

.group label {
    color: black;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 10px;
    transition: 300ms ease all;
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar::before {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: var(--primaryBackgroundColor);
    transition: 300ms ease all;
    left: 0px;
}

.input-container *::before,
.input-container *::after {
    box-sizing: border-box;
}

.home-window > button,
.login-window > button,
.data-window > button,
.scanner-window button,
.download-window button {
    background-color: var(--primaryBackgroundColor);
    border: 2px solid var(--primaryBackgroundColor);
    padding: 10px;
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--primaryContentColor);
    width: min(100%, 350px);
    box-sizing: border-box;
    margin: 0;
    margin-top: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: filter 0.2s ease-in-out, background-color 0.2s ease-in-out;
    border-radius: var(--standard-border-radius);
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    user-select: none;
    overflow: hidden;
}

.home-window > button:hover,
.login-window > button:hover,
.data-window > button:hover,
.scanner-window button:hover,
.download-window button:hover {
    filter: brightness(1.25);
}

.home-window > button::after,
.login-window > button::after,
.data-window > button::after,
.scanner-window button::after,
.download-window button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    transition: width 0.2s ease, height 0.2s ease;
}

.home-window > button:active::after,
.login-window > button:active::after,
.data-window > button:active::after,
.scanner-window button:active::after,
.download-window button:active::after {
    width: 500px;
    height: 500px;
}

.scanner-window button {
    margin: 0;
}

.login-window > img {
    position: absolute;
    z-index: 2;
    top: -50px;
}

.login-window > footer {
    max-height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.block {
    height: 10px;
    width: 110px;
    background-color: white;
    position: absolute;
    top: -5px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: black;
}

.login-window > button:focus {
    outline: 0;
}

.login-window > button:active {
    outline: 0;
    background-color: var(--primaryDarkerBackgroundColor);
}

.home-window {
    outline: none;
    border: none;
    padding: 10px 40px 40px 40px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-window > :first-child {
    margin-top: 15px;
}

.home-window > h1 {
    color: var(--contentColor);
    text-align: center;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 2rem;
}

.home-window > h3 {
    color: var(--contentColor);
    text-align: center;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 1.15rem;
}

.home-window > p {
    width: 100%;
}

.home-window > h2,
.download-window > h2 {
    color: var(--contentColor);
    text-align: center;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.home-window > .footer-text,
.home-window > .footer-text a {
    color: var(--contentColor);
    text-align: center;
    font-size: 0.9rem;
}

.home-window > .boltman-quote {
    color: var(--contentColor);
    text-align: center;
    font-size: 1rem;
    max-width: 600px;
}

.match-window select,
select.event-code,
select.team {
    appearance: none;
    border: 0;
    outline: 0;
    width: 100%;
    font: inherit;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
        linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.match-window .component-dropdown select {
    box-shadow: none;
}

select.event-code:not(:last-of-type),
select.team:not(:last-of-type) {
    margin-bottom: 25px;
}

select.event-code::-ms-expand,
select.team::-ms-expand {
    display: none;
}

.component-select select {
    outline: none;
}

select.event-code > option,
select.team > option {
    color: inherit;
    background-color: var(--option-bg);
}

.home-window input[readonly],
.download-window input[readonly],
.data-window input[readonly] {
    background-color: var(--disabledColor) !important;
}

.home-window select,
.data-window select {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
        no-repeat 100% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.scanner-window p {
    text-align: center;
    color: var(--contentColor);
}

.scanner-window .upload > h3 {
    text-align: center;
    color: var(--contentColor);
    width: calc(100% - 20px);
    max-width: 350px;
    overflow-wrap: break-word;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.scanner-window .upload > h3.primary {
    color: var(--primaryBackgroundColor);
}

.button-row {
    width: max-content;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.button-row > button {
    width: auto;
    font-size: 0.8rem;
    margin: auto;
    transform: none;
}

div#app {
    height: clamp(300px, calc(100dvh - 95px), 950px);
    grid-row: 2;
    align-self: center;
    justify-self: center;
    display: grid;
    place-items: center;
}

/* NAVBAR */

header {
    grid-row: 1;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 0px 10px 0px;
    background-color: var(--primaryBackgroundColor);
    color: var(--backgroundColor);
    width: 100dvw;
    z-index: 998;
    height: 55px;
}

header > .nav-left {
    justify-self: left;
    margin-left: 5px;
}

header > .nav-right {
    justify-self: right;
    margin-right: 5px;
}

header > .nav-middle {
    justify-self: center;
}

header > h3 {
    margin: 0;
}

header .header-btn {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: 0;
    padding: 0;
}

.navbar {
    transition: transform ease-in-out 250ms;
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1em;
    min-width: 300px;
    background-color: var(--primaryBackgroundColor);
    color: white;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
    z-index: 1000;
    box-shadow: 0px 0px 21px 0px var(--contentColor);
}

.navbar-backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity ease-in-out 250ms;
    z-index: 999;
}

.navbar-backdrop.open {
    opacity: 100;
}

.navbar.open {
    transform: translateX(0);
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 0.75em 1em;
    margin: 0 -1em;
    font-size: 1.125em;
    cursor: pointer;
    transition: background-color ease-in-out 250ms;
}

.navbar a:hover {
    background-color: var(--primaryDarkerBackgroundColor2);
}

.navbar a.active {
    background-color: var(--primaryDarkerBackgroundColor);
}

.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-open-btn,
.navbar-close-btn {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.navbar-open-btn {
    background: url(/img/hamburger.svg) no-repeat top left;
    background-size: contain;
}

.navbar-close-btn {
    background: url(/img/close.svg) no-repeat top left;
    background-size: contain;
    filter: invert(100%);
    transition: filter ease-in-out 250ms;
}

.navbar-close-btn:hover {
    filter: invert(80%);
}

header .match-info,
header .account-info {
    display: flex;
    flex-direction: column;
    width: min-content;
    align-items: center;
    gap: 15%;
}

header .match-info p,
header .account-info p {
    margin: 0;
}

header .match-info p.large,
header .account-info p.large {
    font-size: 1.3rem;
    text-transform: capitalize;
}

header .match-info p.small,
header .account-info p.small {
    background: var(--cgray);
    padding: 0.35rem;
    border-radius: var(--standard-border-radius);
    font-size: 0.85rem;
}

header .icon-button {
    width: min-content;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .icon-button > p {
    font-size: 0.7rem;
    margin: 0;
}

header .icon-button .send-container {
    height: 35%;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
}

header .icon-button .send-container svg {
    width: 100%;
    height: 100%;
}

/* END NAVBAR */

.match-window .component-layout-rows {
    display: flex;
    flex-direction: column;
}

.match-window:has([data-page="4"]) .component-layout-rows {
    align-items: center;
}

.match-window .component-layout-columns {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.component-layout-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-bottom: 10px;
}

.match-window .component-title {
    color: var(--contentColor);
    text-align: center;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.match-window .component-header {
    color: var(--contentColor);
    text-align: center;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.match-window .component-text {
    color: var(--contentColor);
    width: calc(100% - 10px);
    max-width: 800px;
    margin: 0px 10px 20px 10px;
}

.match-window .component-checkbox {
    text-align: center;
    margin: 10px 0px 10px 0px;
    position: relative;
    cursor: pointer;
    font-size: 1.3rem;
    width: max-content;
    justify-self: center;
    display: flex;
    gap: 5px;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.match-window .component-layout-rows:has(> .component-checkbox) {
    width: min-content;
}

.match-window .component-layout-rows .component-checkbox * {
    font-size: 1.2rem;
}

.match-window .component-checkbox > label {
    color: var(--contentColor);
    display: block;
    font-size: 1.3rem;
}

.match-window .component-checkbox > input {
    display: none;
}

.match-window .component-checkbox > .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid var(--contentColor);
    border-radius: 5px;
}

.match-window .component-checkbox:hover > input ~ .checkmark {
    background-color: #ccc;
}

.match-window .component-checkbox > input:checked ~ .checkmark {
    background-color: var(--primaryBackgroundColor);
}

.match-window .component-checkbox > .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.match-window .component-checkbox > input:checked ~ .checkmark:after {
    display: block;
}

.match-window .component-checkbox > .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.match-window .component-timer {
    height: min-content;
    width: min-content;
}

.match-window .component-timer > h2 {
    color: var(--contentColor);
    text-align: center;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.match-window .component-timer > h2 > span {
    font-weight: 500;
}

.match-window .component-timer > .button-cont.button-containerainer {
    margin-bottom: 10px;
    width: max-content;
}

.match-window .component-timer > .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.match-window .component-timer > .button-container > button.plus,
.match-window .component-timer > .button-container > button.minus,
.match-window .component-timer > .button-container > button.timer {
    background-color: var(--primaryBackgroundColor);
    border: 2px solid var(--primaryBackgroundColor);
    border-radius: 5px;
    padding: 8px 0px 8px 0px;
    width: 50px;
    height: 45px;
    font-size: 1.5rem;
    color: var(--primaryContentColor);
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: grid;
    place-items: center;
}

.match-window .component-timer > .button-container > button.timer i {
    font-size: 18px;
}

.match-window .component-timer > .button-container > button:active {
    outline: 0;
    background-color: var(--primaryDarkerBackgroundColor);
}

.match-window .component-timer > .button-container > button[disabled] {
    background-color: var(--contentColor);
    border: 2px solid var(--contentColor);
    cursor: not-allowed;
}

.component-layout-columns:has(> .component-pagebutton) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.component-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.match-window .component-select select {
    width: 70%;
}

.match-window .component-pagebutton,
.match-window .component-notesbutton {
    background-color: var(--primaryBackgroundColor);
    border: 2px solid var(--primaryBackgroundColor);
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    font-size: 1.5rem;
    color: var(--primaryContentColor);
    height: 45px;
    box-sizing: border-box;
    margin: 10px;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: grid;
    place-items: center;
}

.match-window:has([data-page="4"]) .component-pagebutton {
    width: 100%;
}

.match-window .component-notesbutton {
    width: fit-content;
}

.match-window .component-pagebutton:active {
    outline: 0;
    background-color: var(--primaryDarkerBackgroundColor);
}

.match-window .component-select > h2 {
    color: var(--contentColor);
    text-align: center;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.match-window .component-select > select {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
        no-repeat 100% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.scanner-window .scanner-view,
.scanner-window .upload-view {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.scanner-view .reader {
    width: 90vw;
}

.scanner-view .scanned-label {
    display: flex;
    gap: 10px;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
}

.scanner-view .reader > video {
    width: 100%;
}

.match-window .component-textbox > div,
.upload-box {
    border-radius: var(--standard-border-radius);
    padding: 10px;
    width: clamp(300px, 45dvw, 600px);
    height: clamp(150px, 40dvh, 400px);
    box-sizing: border-box;
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.match-window .component-textbox > div {
    background-color: #fff;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
    padding: 10px 40px 40px 40px;
}

.match-window .component-textbox > div > textarea {
    width: 95%;
    height: 95%;
    font-size: 1.5rem;
    color: var(--contentColor);
    outline: none;
    border: none;
    resize: none;
}

.match-window .component-textbox > div > textarea:focus {
    border: none;
    outline: none;
}

.match-window textarea.component-textbox {
    width: 80dvw;
    height: 25dvh;
    resize: none;
}

.upload-box:focus {
    outline: 0;
    border: 4px solid var(--contentColor);
    padding: 8px;
}

.match-window .component-locations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match-window .component-locations > .component-locations-container {
    margin-top: 10px;
    margin-bottom: 20px;
    height: min(95%, 600px);
    width: min(95%, 600px);
}

.match-window .component-locations > .component-locations-container > .grid {
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.large-grid-y .grid {
    height: calc(75vw) !important;
    max-width: 400px !important;
    max-height: 300px !important;
}

.small-grid-x .grid {
    /* not used */
}

.large-grid-y.small-grid-x .grid {
    max-width: 300px !important;
    max-height: 450px !important;
}

.small-grid-x {
    /* width: calc(50% - 10px) !important; */
    /* width: fit-content !important; */
}

.match-window
    .component-locations
    > .component-locations-container
    > .grid
    > div {
    position: relative;
    /* border: 1px solid var(--contentColor); */
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s ease-in-out;
}

.match-window
    .component-locations
    > .component-locations-container
    > .grid
    > div
    > .marker {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
}

.match-window
    .component-locations
    > .component-locations-container
    > .grid
    > div.active {
    background-color: rgba(0, 0, 0, 0.5);
}

.match-window
    .component-locations
    > .component-locations-container
    > .grid[data-orientation="1"]
    > div
    > .marker {
    transform: translate(-50%, -50%) rotate(180deg);
}

.match-window .component-locations > button {
    background-color: var(--primaryBackgroundColor);
    border: 2px solid var(--primaryBackgroundColor);
    border-radius: 5px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.5rem;
    color: var(--primaryContentColor);
    box-sizing: border-box;
    margin: 0;
    margin-left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.match-window .component-locations > button:active {
    outline: 0;
    background-color: var(--primaryDarkerBackgroundColor);
}

.data-window,
.match-window {
    width: clamp(300px, 30dvw, 400px);
    height: max-content;
    outline: none;
    border: none;
}

#app .match-window {
    height: inherit;
    width: clamp(200px, 92dvw, 400px);
}

.data-window:has(> h3.red) {
    padding: 10px clamp(0px, 5dvw, 40px) 10px clamp(0px, 5dvw, 40px);
}

.overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.2s ease-in-out;
}

.location-popup {
    display: none;
    position: fixed;
    width: calc(100% - 20px);
    max-width: 350px;
    left: 50%;
    top: 50%;
    z-index: 200;
    background-color: var(--backgroundColor);
    color: var(--contentColor);
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.location-popup > button {
    background-color: var(--primaryBackgroundColor);
    border: 2px solid var(--primaryBackgroundColor);
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
    color: var(--primaryContentColor);
    width: calc(100% - 40px);
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.location-popup > button:active {
    outline: 0;
    background-color: var(--primaryDarkerBackgroundColor);
}

.location-popup > div {
    margin-bottom: 30px;
    width: max-content;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.location-popup > div > h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
}
.location-popup > div > h3 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 500;
}

.location-popup > div > button {
    display: inline-block;
    background-color: var(--primaryBackgroundColor);
    border: 2px solid var(--primaryBackgroundColor);
    border-radius: 5px;
    font-size: 1.5rem;
    color: var(--primaryContentColor);
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    position: relative;
}

.location-popup > div > button.toggle {
    width: calc(100vw - 65px) !important;
    max-width: 310px;
}

.location-popup > div > button > span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.location-popup > div > button:active {
    outline: 0;
    background-color: var(--primaryDarkerBackgroundColor);
}

.component-qrcode > canvas {
    max-width: 100%;
    width: auto;
    max-height: calc(100vh - 250px);
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.component-qrcode > p {
    color: var(--contentColor);
    text-align: center;
}

.component-upload {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component-upload > h3,
.download-window > h3,
.data-window h3 {
    text-align: center;
    color: var(--contentColor);
    width: calc(100% - 20px);
    max-width: 350px;
    overflow-wrap: break-word;
}

.data-window h3 {
    margin-bottom: 5px;
}

.data-window .team-color-group {
    width: 100%;
}

@media (min-width: 500px) {
    .data-window .team-color-group {
        display: flex;
        justify-content: space-evenly;
        gap: 2px;
    }

    .data-window .team-color-group > .group {
        width: 30%;
    }
}

.red {
    color: #ff0000 !important;
}

.green {
    color: #008000 !important;
}

.component-upload > h3.primary {
    color: var(--primaryBackgroundColor);
}

.status-box {
    width: 100%;
    padding: 0.75rem 2rem;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    position: relative;
    font-size: 1.25em;
    margin: 0.5rem 0;
}

.status-box::before,
.status-box::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    aspect-ratio: 1/1;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-box::after {
    margin: 0.75rem;
    filter: invert(100%);
}

.status-box.error::before {
    background-color: red;
}

.status-box.error::after {
    background: url(/img/close.svg) no-repeat top left;
    background-size: contain;
}

.status-box.loading::before {
    background-color: grey;
}

.status-box.loading::after {
    background: url(/img/dots.svg) no-repeat top left;
    background-size: contain;
}

.status-box.success::before {
    background-color: green;
}

.status-box.success::after {
    background: url(/img/check.svg) no-repeat top left;
    background-size: contain;
}

.data-window table {
    color: var(--contentColor);
    overflow-x: auto;
    border-collapse: collapse;
    width: calc(100vw - 30px);
    margin-top: 15px;
}

.data-window table td,
.data-window table th {
    border: 1px solid var(--contentColor);
    padding: 8px;
    color: var(--contentColor);
}

.data-window table td:hover {
    background-color: var(--backgroundColor);
    filter: brightness(0.8);
}

.data-window table tbody > tr {
    background-color: var(--backgroundColor);
}

.data-window table tbody > tr:nth-child(even) {
    background-color: var(--backgroundColor);
    filter: brightness(0.9);
}

.data-window table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--primaryBackgroundColor);
    color: var(--backgroundColor);
}

.data-window table td {
    text-align: center;
}

.data-window .analysis,
.data-window .comparison,
.data-window .prediction,
.data-window .graphs,
.data-window .predictions,
.data-window .rankings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.data-window .analysis > .graphs,
.data-window .comparison > .graphs {
    width: clamp(300px, 90vw, 900px);
}

.data-window .analysis .prediction-bar,
.data-window .comparison .prediction-bar,
.data-window .prediction .prediction-bar {
    width: 100%;
    height: 50px;
    border: 5px solid var(--primaryBackgroundColor);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--primaryBackgroundColor);
}

.data-window
    .analysis
    div:not(.prediction-bar)
    .svg-container
    > .main-svg:nth-child(1),
.data-window
    .comparison
    div:not(.prediction-bar)
    .svg-container
    > .main-svg:nth-child(1),
.data-window
    .prediction
    div:not(.prediction-bar)
    .svg-container
    > .main-svg:nth-child(1) {
    background: var(--backgroundColor) !important;
}

.data-window .analysis .prediction-bar > div,
.data-window .comparison .prediction-bar > div,
.data-window .prediction .prediction-bar > div {
    height: 100%;
    display: inline-block;
    color: var(--backgroundColor);
    position: relative;
}

.data-window .analysis .prediction-bar > div > p,
.data-window .comparison .prediction-bar > div > p,
.data-window .prediction .prediction-bar > div > p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    margin: 0;
}

.data-window .analysis .prediction-bar > .prediction-bar-red,
.data-window .comparison .prediction-bar > .prediction-bar-red,
.data-window .prediction .prediction-bar > .prediction-bar-red {
    background-color: #ff6e6e;
    border-radius: 3px 0 0 3px;
}

.data-window .analysis .prediction-bar > .prediction-bar-blue,
.data-window .comparison .prediction-bar > .prediction-bar-blue,
.data-window .prediction .prediction-bar > .prediction-bar-blue {
    background-color: #6a6afb;
    border-radius: 0 3px 3px 0;
}

.header-incentives .currency,
.header-incentives .xp {
    display: inline-block;
    vertical-align: middle;
}

.header-incentives .nuts,
.header-incentives .bolts {
    text-align: right;
}

.header-incentives .bolts {
    margin-top: 5px;
}

.header-incentives .nuts > img,
.header-incentives .bolts > img {
    width: 20px;
    filter: invert(91%) sepia(12%) saturate(713%) hue-rotate(201deg)
        brightness(102%) contrast(105%);
    display: inline-block;
    vertical-align: middle;
}

.header-incentives .nuts > p,
.header-incentives .bolts > p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.header-incentives .xp {
    margin-left: 5px;
}

.header-incentives .xp p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: var(--backgroundColor);
    font-size: 1rem;
    font-weight: bold;
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: var(--primaryBackgroundColor);
}

.header-incentives .xp > .xp-container {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    border: 2px solid var(--backgroundColor);
    border-radius: 5px;
    position: relative;
}

.header-incentives .xp > .xp-container > .xp-filled {
    position: absolute;
    left: -1px;
    top: -1px;
    height: calc(100% + 2px);
    background-color: var(--backgroundColor);
    border-radius: 5px;
}

@media (max-width: 500px) {
    .data-window table {
        overflow-x: initial;
    }
    .data-window-visible {
        overflow-x: auto;
    }
    .match-window .component-timer {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .match-window {
        padding: 0 !important;
    }
}

@media (max-width: 370px) {
    .home-window > p {
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .match-window .component-locations-container.small-grid-x > .grid {
        flex-direction: column;
    }

    .match-window
        .component-locations-container.small-grid-x
        > .grid
        > .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .match-window .component-layout-grid {
        row-gap: 2dvw;
        column-gap: 4dvw;
    }
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* MOBILE */

/* TOGGLE */

.component-toggle {
    display: flex;
    align-items: center;
    margin: 0px 2% 0px 2%;
    padding: 0px 1% 0px 1%;
    justify-content: space-between;
    background: #ffffff;
    border-radius: var(--standard-border-radius);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.component-toggle > p {
    color: black;
    padding: 0.35rem;
    border-radius: var(--standard-border-radius);
    font-size: 0.9rem;
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
    transition: 0.3s;
}

.component-toggle input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.component-toggle label {
    cursor: pointer;
    text-indent: 50px;
    width: 3.5rem;
    height: 1.75rem;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.component-toggle label:after {
    content: "";
    position: absolute;
    top: 2px;
    margin: 0 2px 0 2px;
    left: 0px;
    width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.component-toggle input:checked + label {
    background: var(--primaryBackgroundColor);
}

.component-toggle input:checked + label:after {
    left: 50%;
}

/* GENERIC */

.none {
    display: none !important;
}

div.disabled {
    pointer-events: none !important;
    opacity: 0.5 !important;
}

/* TIMER */

.component-clock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 2% 0px 2%;
    gap: 5px;
    padding: 0.6rem;
    background: #ffffff;
    border-radius: var(--standard-border-radius);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.component-clock > div:first-child {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 5px;
}

.component-clock > div > p:first-child,
.component-clock div:has(> p.time) {
    font-size: 0.9rem;
    margin: 0;
    user-select: none;
}

.component-clock > div.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.component-clock > div.controls > div {
    aspect-ratio: 1;
    width: 20%;
    padding: 0.6rem;
    font-size: 1.5rem;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.component-clock > div.controls > div:nth-child(2) {
    border-radius: 50%;
    border: 1px solid black;
}

.component-clock > div.controls > div svg {
    width: 15px;
    height: 15px;
}

.component-clock > div.controls > div:nth-child(2) svg {
    width: 20px;
    height: 20px;
    padding-left: 1px;
}

.component-clock p.time {
    margin: 0;
}

/* SELECT */

.component-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: var(--standard-border-radius);
    margin: 0px 2% 0px 2%;
}

.component-dropdown > select {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
        no-repeat 100% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none;
    border: 0;
    width: 100%;
    font-size: 0.9rem;
    padding: 5% 2% 5% 2%;
    color: inherit;
}

/* TEXTAREA */

.component-textarea {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: var(--standard-border-radius);
    padding: 0px 3% 5% 3%;
    margin: 0px 2% 0px 2%;
}

.component-textarea p {
    font-size: 0.9rem;
    margin-block-end: 0.5em;
}

.component-textarea p.subtext {
    margin-block-start: 0;
    font-size: 0.75rem;
}

.component-textarea textarea {
    font-family: inherit;
    resize: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.03);
    border-color: -moz-use-text-color #ffffff #ffffff -moz-use-text-color;
    border-image: none;
    align-self: center;
    border-style: solid;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
    color: #555555;
    font-size: 0.9rem;
    padding: 5px 8px;
    width: 95%;
    height: 20dvh;
    transition: background-color 0.2s ease, border-color 0.2s ease,
        box-shadow 0.2s ease;
}

textarea:focus {
    background: none repeat scroll 0 0 #ffffff;
    border-color: var(--primaryBackgroundColor);
    outline: none;
    box-shadow: 0 0 5px var(--primaryBackgroundColor);
}

/* RATING */

.match-window .component-rating {
    box-sizing: border-box;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: #fff;
    border-radius: var(--standard-border-radius);
    padding: 3% 3% 3% 3%;
    margin: 0px 2% 0px 2%;
}

.match-window .component-rating * {
    box-sizing: border-box;
}

.component-rating .range-slider {
    -webkit-appearance: none;
    width: calc(100% - 73px);
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}

.component-rating .range-slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}

.component-rating .range-slider::-webkit-slider-thumb:hover {
    background: var(--primaryBackgroundColor);
}

.component-rating .range-slider:active::-webkit-slider-thumb {
    background: var(--primaryBackgroundColor);
}

.component-rating .range-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}

.component-rating .range-slider::-moz-range-thumb:hover {
    background: var(--primaryBackgroundColor);
}

.component-rating .range-slider:active::-moz-range-thumb {
    background: var(--primaryBackgroundColor);
}

.component-rating .range-slider:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px var(--primaryBackgroundColor);
}

.component-rating .range-span {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: var(--primaryBackgroundColor);
    padding: 5px 10px;
    margin-left: 8px;
}

.component-rating .range-span::after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid var(--primaryBackgroundColor);
    border-bottom: 7px solid transparent;
    content: "";
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

.component-rating input::-moz-focus-inner,
.component-rating input::-moz-focus-outer {
    border: 0;
}

.match-window .component-rating > h2 {
    color: var(--contentColor);
    margin: 0;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 0.9rem;
    font-weight: normal;
}

.match-window .component-rating > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* PAGEBAR */

aside#controls {
    width: clamp(200px, 100%, 350px);
    height: clamp(60px, 15%, 87.5px);
    overflow: hidden;
    position: absolute;
    bottom: 0;
    border-radius: var(--standard-border-radius);
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 15px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

aside#controls > div {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: background-color 0.5s;
    cursor: pointer;
}

aside#controls > div.disabled {
    cursor: not-allowed;
}

aside#controls > div.active {
    background: var(--primaryBackgroundColor);
}

aside#controls > div.active p {
    color: white;
}

aside#controls > div.active svg {
    filter: invert(1);
}

aside#controls > div svg {
    aspect-ratio: 1;
    width: 30px;
    height: 30px;
}

aside#controls > div p {
    font-size: 0.8rem;
    margin: 0px;
    user-select: none;
}

/* SCORE TRACKER */

div.component-score-counter {
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 2% 0px 2%;
    border-top-left-radius: var(--standard-border-radius);
    border-top-right-radius: var(--standard-border-radius);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: #ffffff;
    overflow: hidden;
}

div.component-score-counter > div {
    height: 100%;
    width: calc(100% / 3);
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    touch-action: manipulation;
}

div.component-score-counter .score-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.component-score-counter .score-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90%;
    flex-grow: 1;
}

div.component-score-counter .score-controls .score-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 40%;
    width: 100%;
}

div.component-score-counter .score-controls .score-control div:has(svg) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

div.component-score-counter
    .score-controls
    .score-control
    div:has(svg):first-child {
    justify-content: flex-end;
}

div.component-score-counter
    .score-controls
    .score-control
    div:has(svg):last-child {
    justify-content: flex-start;
}

div.component-score-counter .score-controls .score-control svg {
    width: 15px;
    height: 15px;
}

div.component-score-counter > div:not(.active) .score-controls {
    display: none;
}

.score-control > div > div.counter {
    user-select: none;
}

.score-control > div > div.subtext {
    font-size: 0.75rem;
    user-select: none;
}

.score-control > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.component-score-counter div.disabled {
    background: rgba(67, 67, 67, 0.32) !important;
    color: black !important;
    cursor: not-allowed !important;
}

div.component-score-counter > div:nth-child(2)::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 70%;
    border-left: solid 1.5px var(--primaryBackgroundColor);
    border-right: solid 1.5px var(--primaryBackgroundColor);
    pointer-events: none;
}

div.component-score-counter > div svg {
    height: 1.5rem;
    width: 1.5rem;
}

div.component-score-counter > div .subtitle {
    user-select: none;
}

div.component-score-counter > div.active:not(.disabled) {
    width: 100% !important;
    justify-content: space-around;
}

div.component-score-counter:has(> div.active:not(.disabled))
    > div:not(.active) {
    width: 0% !important;
    /* flex: 0; */
    visibility: hidden;
    color: white;
}

div.component-score-counter > div div.close {
    position: absolute;
    opacity: 0;
    top: 10px;
    left: 10px;
    transition: 0.3s;
    width: 15px;
    height: 15px;
}

div.component-score-counter div.close svg {
    width: inherit;
    height: inherit;
}

div.component-score-counter > div.active div.close {
    opacity: 0.75;
}

div.component-score-counter div.front-group {
    display: grid;
    /*   height: 100%; */
    grid-template-rows: 3fr 1fr;
    margin: 0 15% 0 15%;
}

div.component-score-counter div.front-group {
    grid-template-rows: 1fr;
}

div.component-score-counter div.tally {
    height: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

/* MAIN APP */

.component-layout-preset-manager {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.component-layout-preset-manager > .preset > .component-layout-rows {
    gap: 7px;
}

div.preset {
    width: 100%;
    height: calc(100% - clamp(60px, 15%, 87.5px));
    overflow-y: scroll;
}

/* MEDIA QUERIES */

@media (orientation: landscape) {
    .component-layout-preset-manager {
        width: 100%;
    }

    #app .match-window {
        width: clamp(400px, 100dvw, 1100px);
    }

    div#app {
        width: -webkit-fill-available;
    }

    div.preset > div.component-layout-rows {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    div.preset > div.component-layout-rows div.component-score-counter,
    div.preset > div.component-layout-rows div.component-textarea,
    div.preset > div.component-layout-rows div.component-locations {
        grid-column: 1 / -1;
        margin: 0px 1% 0px 1%;
    }
}
