<!DOCTYPE html>
<html lang="en-US">
  <head>
    {{> head}}
    <link href="/css/scouting.css?v=28" rel="stylesheet">
    <script src="/js/easy.qrcode.min.js"></script>
    <script src="js/html5-qrcode.min.js"></script>
    <script src="/js/sha256.min.js"></script>
    <script src="/js/papaparse.min.js"></script>
    <script src="/js/scoutingsdk.js?v=28"></script>
    <script src="/js/js-confetti.browser.js"></script>
    <meta name="theme-color" content="#7d4090" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#7d4090">

  </head>
  <body>
    {{> scoutingHeader}}
    <div id="app"></div>
    {{#each preload as |src|}}
      <img src="{{src}}" style="display: none" />
    {{/each}}
    <script>
      const jsConfetti = new JSConfetti();
      const sdk = new ScoutingAppSDK(document.querySelector("#app"), {
        theme: {
          backgroundColor: "#f8f0ff",
          contentColor: "#404040",
          primaryBackgroundColor: "#7d4090",
          primaryContentColor: "#e3dce9",
          primaryDarkerBackgroundColor: "#5d2e6c",
          disabledColor: "#747474"
        },
        pages: {{{ json pages }}},
        latest: {
          autofill: true
        },
        account: {
          username: "{{ username }}",
          team: "{{ team }}"
        }
      });

      async function updatePage() {
        if(window.location.hash != null && window.location.hash.startsWith("#/")) {
          let page = window.location.hash.substring(2);
          if(page == "scan-data") {
            document.querySelector(".navbar a[data-page='scan-data']").classList.add("active");
            window.readerForNav = await sdk.showScannerPage();
          } else if(page == "view-data") {
            document.querySelector(".navbar a[data-page='view-data']").classList.add("active");
            await sdk.showDataPage();
          } else if(page == "compare-teams") {
            document.querySelector(".navbar a[data-page='compare-teams']").classList.add("active");
            await sdk.showComparePage();
          } else if(page == "predict-outcomes") {
            document.querySelector(".navbar a[data-page='predict-outcomes']").classList.add("active");
            await sdk.showPredictPage();
          } else {
            document.querySelector(".navbar a[data-page='home']").classList.add("active");
            await sdk.showHomePage();
          }
        } else {
          document.querySelector(".navbar a[data-page='home']").classList.add("active");
          await sdk.showHomePage();
        }
      }
      window.onhashchange = () => {
        updatePage();
      }
      updatePage();
    </script>
  </body>
</html>