<!DOCTYPE html>
<html lang="en-US">

<head>
  {{> head}}
  <link href="/css/scouting.css?v=12" rel="stylesheet">
  <link href="/css/match.css?v=12" rel="stylesheet">
</head>

<body>
  {{> scoutingHeader}}
  <div id="app">
    <div class="match-table-container">
      <div class="match-table-header">
        <div class="team-header red-header">Red Team</div>
        <div class="team-header blue-header">Blue Team</div>
      </div>
      <div class="match-table-border">
        <table class="match-table">
          <tbody>
          <tr class="team-display">
            <td class="red">
              <span class="pad-number">1072</span>
              <span class="pad-number">213</span>
              <span class="pad-number">353</span>
            </td>
            <td class="blue">
              <span class="pad-number">978</span>
              <span class="pad-number">1247</span>
              <span class="pad-number">892</span>
            </td>
          </tr>
          <tbody>
            <tr>
              <td class="red">Total Points: 353</td>
              <td class="blue">Total Points: 978</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="red">Total Auto: 1</td>
              <td class="blue">Total Auto: 2</td>
            </tr>
            <tr>
              <td class="red">1</td>
              <td class="blue">2</td>
            </tr>
            <tr>
              <td class="red">1</td>
              <td class="blue">2</td>
            </tr>
            <tr>
              <td class="red">1</td>
              <td class="blue">2</td>
            </tr>
            <tr>
              <td class="red">1</td>
              <td class="blue">2</td>
            </tr>
            <tr>
              <td class="red">1</td>
              <td class="blue">2</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="red">Total Teleop: 3</td>
              <td class="blue">Total Teleop: 4</td>
            </tr>
            <tr>
              <td class="red">1</td>
              <td class="blue">2</td>
            </tr>
            <tr>
              <td class="red">1</td>
              <td class="blue">2</td>
            </tr>
            <tr>
              <td class="red">1</td>
              <td class="blue">2</td>
            </tr>
            <tr>
              <td class="red">1</td>
              <td class="blue">2</td>
            </tr>
            <tr>
              <td class="red">1</td>
              <td class="blue">2</td>
            </tr>
          </tbody>
          <tr class="row-header-container">
            <td colspan="2" class="row-header">Links</td>
          </tr>
          <tr>
            <td class="red">5</td>
            <td class="blue">6</td>
          </tr>
          <tr class="row-header-container">
            <td colspan="2" class="row-header">Coopertition Criteria Met</td>
          </tr>
          <tr>
            <td class="red">7</td>
            <td class="blue">8</td>
          </tr>
          <tr>
            <td class="row-header" colspan="2">Sustainability Bonus</td>
          </tr>
          <tr>
            <td class="red">7</td>
            <td class="blue">8</td>
          </tr>
          <tr>
            <td class="row-header" colspan="2">Activation Bonus</td>
          </tr>
          <tr>
            <td class="red">7</td>
            <td class="blue">8</td>
          </tr>
          <tr class="row-header-container">
            <td colspan="2" class="row-header">Fouls / Tech Fouls</td>
          </tr>
          <tr>
            <td class="red">7</td>
            <td class="blue">8</td>
          </tr>
          <tr class="row-header-container">
            <td class="row-header" colspan="2">Adjustments</td>
          </tr>
          <tr>
            <td class="red">1</td>
            <td class="blue">2</td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
    <div class="field-image-container">
      <div class="field-image">
        <img class="red-img" src="/img/2023grid-red.png" alt="Red Grid">
        <img class="blue-img" src="/img/2023grid-blue.png" alt="Blue Grid">
        <div class="image-grid">
          <div class="box box-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="cone-svg bi bi-cone" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M7.03 1.88c.252-1.01 1.688-1.01 1.94 0l2.905 11.62H14a.5.5 0 0 1 0 1H2a.5.5 0 0 1 0-1h2.125L7.03 1.88z" id="mainIconPathAttribute" fill="orange"></path> </svg>
          </div>
          <div class="box box-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="cone-svg bi bi-cone" viewBox="0 0 16 16" id="IconChangeColor"> <path d="M7.03 1.88c.252-1.01 1.688-1.01 1.94 0l2.905 11.62H14a.5.5 0 0 1 0 1H2a.5.5 0 0 1 0-1h2.125L7.03 1.88z" id="mainIconPathAttribute" fill="orange"></path> </svg>
          </div>
          <div class="box box-3">
            <svg class="cube-svg" width="30" height="30"><rect width="20" height="20" style="fill:purple;stroke-width:2;opacity:1"/></svg>
          </div>
          <div class="box box-4">
            <svg class="auto-svg" width="60" height="30"><rect x="0" y="0" width="60" height="30" style="fill:palegreen;stroke-width:2;stroke:black" /></svg>
            <svg class="cube-svg" width="30" height="30"><rect width="20" height="20" style="fill:purple;stroke-width:2;opacity:1"/></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>